<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
    <title>Nav</title>
    <style>
        /* Modify the background color */

        .navbar-custom {
            background-color: #c3e2e4;
        }
        /* Modify brand and text color */

        .navbar-custom .navbar-brand,
        .navbar-custom .navbar-text {
            color: black;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-custom">
  <a class="navbar-brand" href=".\">Kearsing Home</a>
    <a class="navbar-brand" href="https://github.com/kearsing?tab=projects" target="_blank">My Github</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

</nav>
</body>
</html>